=begin
#TeePublic V3 search Api Documentation

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0.8

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.10

=end

require 'uri'

module SwaggerClient
  class AutocompleteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a list of suggestions based on search prefix.
    # Returns a list of suggestions based on search prefix.
    # @param body Autocomplete Request
    # @param [Hash] opts the optional parameters
    # @return [AutocompleteResponse]
    def post_v1_autocomplete(body, opts = {})
      data, _status_code, _headers = post_v1_autocomplete_with_http_info(body, opts)
      data
    end

    # Returns a list of suggestions based on search prefix.
    # Returns a list of suggestions based on search prefix.
    # @param body Autocomplete Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(AutocompleteResponse, Fixnum, Hash)>] AutocompleteResponse data, response status code and response headers
    def post_v1_autocomplete_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AutocompleteApi.post_v1_autocomplete ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AutocompleteApi.post_v1_autocomplete"
      end
      # resource path
      local_var_path = '/v1/autocomplete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AutocompleteResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutocompleteApi#post_v1_autocomplete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
