=begin
#TeePublic V3 search Api Documentation

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0.15

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module SwaggerClient
  class TagSuggestionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a list of tag suggestions based on search prefix.
    # Returns a list of tag suggestions based on search prefix.
    # @param prefix search prefix
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return. (default to 6)
    # @option opts [BOOLEAN] :explain Whether to return explanation of results. (default to false)
    # @return [AutocompleteResponse]
    def get_v1_tag_suggestions(prefix, opts = {})
      data, _status_code, _headers = get_v1_tag_suggestions_with_http_info(prefix, opts)
      data
    end

    # Returns a list of tag suggestions based on search prefix.
    # Returns a list of tag suggestions based on search prefix.
    # @param prefix search prefix
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return.
    # @option opts [BOOLEAN] :explain Whether to return explanation of results.
    # @return [Array<(AutocompleteResponse, Fixnum, Hash)>] AutocompleteResponse data, response status code and response headers
    def get_v1_tag_suggestions_with_http_info(prefix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagSuggestionApi.get_v1_tag_suggestions ...'
      end
      # verify the required parameter 'prefix' is set
      if @api_client.config.client_side_validation && prefix.nil?
        fail ArgumentError, "Missing the required parameter 'prefix' when calling TagSuggestionApi.get_v1_tag_suggestions"
      end
      # resource path
      local_var_path = '/v1/tag-suggestions'

      # query parameters
      query_params = {}
      query_params[:'prefix'] = prefix
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'explain'] = opts[:'explain'] if !opts[:'explain'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AutocompleteResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagSuggestionApi#get_v1_tag_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
